.list-container {
  display: inline-block;
  margin-bottom: 20px;
  min-height: 120px;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.list-container:hover {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
}
.list-container > img {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  border-radius: 3px;
  vertical-align: middle;
}
.list-container > .text-properties {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 120px);
}
.text-properties > span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
.text-properties > span > span {
  font-weight: 600;
  font-size: 15px;
}
@media only screen and (max-width: 420px) {
  .list-container {
    min-height: 100px;
  }
  .list-container > img {
    width: 80px;
  }
  .list-container > .text-properties {
    width: calc(100% - 100px);
  }
}
